<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Siliconcree.net</title>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container my-5"> 
        <div class="p-5 text-center bg-body-tertiary rounded-3"> 
            <h1 class="text-body-emphasis">Basic jumbotron</h1> 
            <p class="lead">This is a simple Bootstrap jumbotron that sits within a <code>.container</code>, recreated with built-in utility classes.</p> 
        </div> 
    </div> 
    <div class="b-example-divider"></div>   
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" class="astro-vvvwv3sm"></script>  
  </body> 
</html>